.header__logo {
  max-width: 142px;
  max-height: 33px;
  object-fit: cover;
  margin: 0 0 37px;
  padding: 0;
}

@media screen and (max-width: 568px) {
  .header__logo {
    max-width: 103.74px;
    max-height: 24.4px;
    margin-bottom: 29.6px;
  }
}
