.header__button-exit {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: right;
  color: #a9a9a9;
  background: none;
  border: none;
  transition: 0.3s;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

.header__button-exit:hover {
  opacity: 0.6;
  cursor: pointer;
}
