.footer {
  max-width: 880px;
  margin: 60px calc((100% - 880px) / 2) 56px;
  padding: 0;
}

@media screen and (max-width: 944px) {
  .footer {
    margin-top: 48px;
    margin-left: 19px;
    margin-right: 19px;
    margin-bottom: 33px;
  }
}
