.header {
  margin: 0 calc((100% - 880px) / 2);
  padding: 0;
  position: relative;
}

.header::before {

  content: "";
  opacity: 0.7;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  box-sizing: border-box;
  border-bottom: 1px solid #545454;
}


@media screen and (max-width: 944px) {
  .header {
    margin-left: 0;
    margin-right: 0;
    padding-left: 27px;
  }
}
