.form {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 60px 0 80px;
  width: 358px;
  height: auto;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  box-sizing: border-box;
}

@media screen and (max-width: 720px) {
  .form {
    padding: 40px 30px;
    width: 320px;
  }
}
